global:
  scrape_interval: 1m
  scrape_timeout: 10s

# Self scrape configs
scrape_configs:
  - job_name: vmagent self
    static_configs:
      - targets: ['{{ inventory_hostname }}:8429']

  - job_name: victoriametrics self
    static_configs:
      - targets: ['{{ inventory_hostname }}:8428']

  - job_name: blackbox self
    static_configs:
      - targets: ['{{ inventory_hostname }}:9115']